In [8]:
import pandas as pd
import numpy as np
import yaml as yl

In [17]:
params = yl.safe_load(open('C:\\repos\\deprivationMapping\\params.yaml'))
allScoresPath = params['FilePaths']['AllScoresRaw']

In [19]:
df = pd.read_csv(allScoresPath)
df

,LSOA code (2011),LSOA name (2011),Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Score,Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Score (rate),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),...,Indoors Sub-domain Rank (where 1 is most deprived),Indoors Sub-domain Decile (where 1 is most deprived 10% of LSOAs),Outdoors Sub-domain Score,Outdoors Sub-domain Rank (where 1 is most deprived),Outdoors Sub-domain Decile (where 1 is most deprived 10% of LSOAs),Total population: mid 2015 (excluding prisoners),Dependent Children aged 0-15: mid 2015 (excluding prisoners),Population aged 16-59: mid 2015 (excluding prisoners),Older population aged 60 and over: mid 2015 (excluding prisoners),Working age population 18-59/64: for use with Employment Deprivation Domain (excluding prisoners)
0,E01000001,City of London 001A,E09000001,City of London,6.208,29199,9,0.007,32831,10,...,16364,5,1.503,1615,1,1296,175,656,465,715
1,E01000002,City of London 001B,E09000001,City of London,5.143,30379,10,0.034,29901,10,...,22676,7,1.196,2969,1,1156,182,580,394,620
2,E01000003,City of London 001C,E09000001,City of London,19.402,14915,5,0.086,18510,6,...,17318,6,2.207,162,1,1350,146,759,445,804
3,E01000005,City of London 001E,E09000001,City of London,28.652,8678,3,0.211,6029,2,...,25218,8,1.769,849,1,1121,229,692,200,683
4,E01000006,Barking and Dagenham 016A,E09000002,Barking and Dagenham,19.837,14486,5,0.117,14023,5,...,14745,5,0.969,4368,2,2040,522,1297,221,1285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32839,E01033764,Liverpool 022E,E08000012,Liverpool,74.468,116,1,0.470,90,1,...,19468,6,0.750,6052,2,2712,540,1584,588,1625
32840,E01033765,Liverpool 061D,E08000012,Liverpool,59.599,945,1,0.362,838,1,...,24583,8,0.283,10977,4,1445,257,902,286,908
32841,E01033766,Liverpool 042G,E08000012,Liverpool,21.895,12842,4,0.099,16430,6,...,1063,1,0.629,7151,3,1054,170,749,135,735
32842,E01033767,Liverpool 050J,E08000012,Liverpool,66.704,422,1,0.396,442,1,...,1026,1,0.417,9286,3,1019,164,655,200,650
32843,E01033768,Liverpool 037F,E08000012,Liverpool,52.286,1833,1,0.273,3107,1,...,2157,1,0.913,4736,2,1281,91,1066,124,1077